<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="lib/vue/dist/vue.js"></script>
<body>
<!--<div id="app">-->
<!--    <p>{{msg}}</p>-->
<!--</div>-->
<!--<script>-->
<!--    let vm = new Vue( {-->
<!--        el: "#app",-->
<!--        data: {-->
<!--            msg:'123'-->
<!--        }-->
<!--    })-->
<!--</script>-->
<!-- <div class="app">-->
<!--     <p>{{ fan}}</p></div>-->
<!--<script>-->
<!--    let  app = new  Vue({-->
<!--        el:".app",-->
<!--        data: {-->
<!--            fan: "强无敌"-->
<!--        }-->
<!--    })-->
<!--</script>-->
<!--<div id="app"> <input  type="button" value="按钮" v-on:click="show"></div>-->
<!--<script>-->
<!--    let vm = new Vue ( {-->
<!--        el:'#app',-->
<!--        data:{-->
<!--            mytitle : '这是自己定义的title'-->
<!--        },-->
<!--        method:{ //这个method属性中定义了当前vue实例所有可用的方法-->
<!--            show:function () {-->
<!--                alert ("hello")-->

<!--            }-->
<!--        }-->
<!--    })-->
<!--</script>-->
<!--// 1.导入vue包-->
<script src="lib/vue/dist/vue.js"></script>
<!--2.创建一个要控制的区域-->
<!--<div id="app">-->
<!--    <input type="button" value="骚" @click="lang">-->
<!--    <input type="button" value="低调" @click="stop"><br>-->
<!--    <span>{{msg}}</span>-->
<!--</div>-->
<!--&lt;!&ndash;<script>&ndash;&gt;-->
<!--// var vm = new Vue( {-->
<!--    // el: '#app',-->
<!--    // data:  {-->
<!--    // msg: '猥琐发育,别浪!',-->
<!--    //     intervarId:null //在data上定义 定时器id-->
<!--// },-->
<!--//     methods:{-->
<!--//        lang(){-->
<!--//                 if (this.intervalId !=null) return;-->
<!--//            this.intervalId=setInterval(  () => {-->
<!--//                var start = this.msg.substring(0,1)//获取到第一个字符-->
<!--//                var end   = this.msg.substring(1) //获取之后的所有字符-->
<!--//                this.msg = end + start-->
<!--//            }, 400)-->
<!--//        },-->
<!--//         stop() {-->
<!--//            clearInterval(this.intervalId)-->
<!--//             //每当清除定时器之后,需要重新把interval 设置为 null-->
<!--//             this.interval=null;-->
<!--//         }-->
<!--//     }-->
<!--// })-->

<!--&lt;!&ndash;</script>&ndash;&gt;-->

<!--<div id="app">-->
<!--    <input type="text" v-model="n1">-->
<!--    <select v-model="opt">-->
<!--        <option value="+">+</option>-->
<!--        <option value="-">-</option>-->
<!--        <option value="*">*</option>-->
<!--        <option value="/">/</option>-->
<!--    </select>-->
<!--    <input type="text" v-model="n2">-->
<!--    <input type="button" value="=" @click="calc">-->
<!--    <input type="text" v-model="result">-->
<!--</div>-->
<!--&lt;!&ndash;<script>&ndash;&gt;-->
<!--&lt;!&ndash;    var vm = new Vue({&ndash;&gt;-->
<!--&lt;!&ndash;        el:"#app",&ndash;&gt;-->
<!--&lt;!&ndash;        data: {&ndash;&gt;-->
<!--&lt;!&ndash;           n1: 0,&ndash;&gt;-->
<!--&lt;!&ndash;           n2:0,&ndash;&gt;-->
<!--&lt;!&ndash;           result: 0,&ndash;&gt;-->
<!--&lt;!&ndash;            opt: "+"&ndash;&gt;-->
<!--&lt;!&ndash;        },&ndash;&gt;-->
<!--&lt;!&ndash;        methods:{&ndash;&gt;-->
<!--&lt;!&ndash;            calc(){&ndash;&gt;-->
<!--&lt;!&ndash;                //逻辑:&ndash;&gt;-->
<!--&lt;!&ndash;                switch (this.opt) {&ndash;&gt;-->
<!--&lt;!&ndash;                    case '+'   :&ndash;&gt;-->
<!--&lt;!&ndash;                        this.result= parseInt(this.n1)+ parseInt(this.n2)&ndash;&gt;-->
<!--&lt;!&ndash;                            break;&ndash;&gt;-->
<!--&lt;!&ndash;                    case '-':&ndash;&gt;-->
<!--&lt;!&ndash;                        this.result= parseInt(this.n1)- parseInt(this.n2)&ndash;&gt;-->
<!--&lt;!&ndash;                            break;&ndash;&gt;-->
<!--&lt;!&ndash;                    case '*':&ndash;&gt;-->
<!--&lt;!&ndash;                        this.result= parseInt(this.n1)* parseInt(this.n2)&ndash;&gt;-->
<!--&lt;!&ndash;                            break;&ndash;&gt;-->
<!--&lt;!&ndash;                    case '/'  :&ndash;&gt;-->
<!--&lt;!&ndash;                        this.result= parseInt(this.n1)/ parseInt(this.n2)&ndash;&gt;-->
<!--&lt;!&ndash;                            break;&ndash;&gt;-->
<!--&lt;!&ndash;                }&ndash;&gt;-->
<!--&lt;!&ndash;            }&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->
<!--&lt;!&ndash;    })&ndash;&gt;-->

<!--</script>-->
 <div id="app">
<!--     <h1 :style="{ color:'red',}">大风起兮云飞扬</h1>-->
<!--     <p v-for="(item ,i )in list">{{item}}</p>-->
     <div>
         <label>Id:
             <input type="text" v-model="id">
         </label>
     </div>
     <label>Name:
         <input type="text" v-model="name"> <br>
     </label>
     <input type="button" value="添加" @click="add">
     <p v-for="item in list">
         <input type="checkbox">
         {{item.id}} --- {{item.name}}
     </p>
 </div>
<script>
    var vm = new Vue({
            el:'#app',
        data: {
                id:'',
                name: '',
            list:[
                {id:1, name: 'one'},
                {id:2, name: 'two'},
                {id:3, name: '迭代'},
                {id:4, name: 'ff'}
            ]
        },
        methods: {
                add() {
                   //id 和 name 组成新对象
                    this.list.push ({id: this.id, name:this.name})
                }
        }
        }
    )
</script>
</body>
</html>